.card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 25px rgba(34, 197, 94, 0.4); /* verde gamer */
}

.hero {
  min-height: 55vh;              /* más pequeño */
  background-image: url("../assets/img/gamer.png");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;           /* centra vertical */
  justify-content: center;       /* centra horizontal */
}

.hero-overlay {
  background: rgba(0, 0, 0, 0.45);
  width: 100%;
  padding: 4rem 1.5rem;
  text-align: center;
}



